# .env file
.env

# Rider specific
.idea/
.idea/*
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/r
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

